force-app/main/default/flows/BM_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Approved_Loan_Changes</name>
        <label>Approved Loan Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newLoanStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disbursed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEligibleLoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Eligible_Loan_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTenureMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Loan_Tenure_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEMIAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.EMI_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approved_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Local_Variable_Assignment</name>
        <label>Local Variable Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BMDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Approval_Decision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BMComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>After_Approval_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejected_Loan_Changes</name>
        <label>Rejected Loan Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newLoanStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEligibleLoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTenureMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEMIAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rejected_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reupload_Loan_Changes</name>
        <label>Reupload Loan Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newLoanStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Document Upload</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEligibleLoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTenureMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEMIAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resubmission_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Approved&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined</name>
        <choiceText>Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disbursed</name>
        <choiceText>Disbursed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disbursed</stringValue>
        </value>
    </choices>
    <choices>
        <name>DocumentResubmission</name>
        <choiceText>Document Resubmission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document Resubmission</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Rejected&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>After_Approval_Flow</name>
        <label>After Approval Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Stage_Navigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Loan_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Loan_Changes</targetReference>
            </connector>
            <label>Approved Loan Case</label>
        </rules>
        <rules>
            <name>Rejected_Loan_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rejected</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Loan_Changes</targetReference>
            </connector>
            <label>Rejected Loan Case</label>
        </rules>
        <rules>
            <name>Document_Resubmission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BMDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DocumentResubmission</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reupload_Loan_Changes</targetReference>
            </connector>
            <label>Document Resubmission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Check</name>
        <label>Stage Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Execute_Loan_Disbursement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Early_Entry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Assessment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Generation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Warning_1</targetReference>
            </connector>
            <label>Early Entry</label>
        </rules>
        <rules>
            <name>Already_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disbursed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Warning_2</targetReference>
            </connector>
            <label>Already Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Navigation</name>
        <label>Stage Navigation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Early_Entry_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Assessment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Generation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_1</targetReference>
            </connector>
            <label>Early Entry Case</label>
        </rules>
        <rules>
            <name>Already_Completed_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disbursed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_2</targetReference>
            </connector>
            <label>Already Completed Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BM Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BM Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Branch_Manager_Decision__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>Branch_Manager_Comment__c</field>
            <value>
                <elementReference>BMComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Manager_Decision__c</field>
            <value>
                <elementReference>BMDecision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMI_Amount__c</field>
            <value>
                <elementReference>newEMIAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_Loan_Amount__c</field>
            <value>
                <elementReference>newEligibleLoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Process_Stage__c</field>
            <value>
                <elementReference>newLoanStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Tenure_Months__c</field>
            <value>
                <elementReference>newTenureMonths</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Approved_Screen</name>
        <label>Approved Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
        <fields>
            <name>ApprovedMessage</name>
            <fieldText>&lt;p&gt;Loan for Customer is Approved, you can see the summary in Reports and Dashboards.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Execute_Loan_Disbursement</name>
        <label>Execute Loan Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Local_Variable_Assignment</targetReference>
        </connector>
        <fields>
            <name>LoanSummary</name>
            <fieldText>&lt;p&gt;Loan Amount: ₹ {!Get_Opportunity.Eligible_Loan_Amount__c}&lt;/p&gt;&lt;p&gt;Customer: {!Get_Opportunity.Account.Name}&lt;/p&gt;&lt;p&gt;Risk Category: {!Get_Opportunity.Risk_Category__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Approval_Decision</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Rejected</choiceReferences>
            <choiceReferences>DocumentResubmission</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Approval Decision</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comment</name>
            <dataType>String</dataType>
            <fieldText>Comment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finalMessage</name>
            <fieldText>&lt;p&gt;All BM processes on this loan application are completed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rejected_Screen</name>
        <label>Rejected Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
        <fields>
            <name>RejectedMessage</name>
            <fieldText>&lt;p&gt;Loan for Customer is Declined, RM will convey rejection to Customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resubmission_Screen</name>
        <label>Resubmission Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
        <fields>
            <name>ResubmissionMessage</name>
            <fieldText>&lt;p&gt;The loan is moved to RM for new documents to upload, and RM will perform the process again on the loan application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_1</name>
        <label>Warning 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warningText1</name>
            <fieldText>&lt;p&gt;Please inform the concerned RM to complete all stages till Agreement is signed before processing to Disbursment stage&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_2</name>
        <label>Warning 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warningText2</name>
            <fieldText>&lt;p&gt;Disbursement is already completed for this loan application. Go to Reports and Dashboards to see the data of Disbursed Loan Applications.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BMComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BMDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newEligibleLoanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>newEMIAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>newLoanStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTenureMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
