force-app/main/default/flows/Customer_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>HighRisk1</name>
        <label>HighRisk1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>riskCatagory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Risk_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HighRisk2</name>
        <label>HighRisk2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>riskCatagory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Risk_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HighRisk3</name>
        <label>HighRisk3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>riskCatagory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Risk_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HighRisk4</name>
        <label>HighRisk4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>riskCatagory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Risk_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LowRisk</name>
        <label>LowRisk</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>riskCatagory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Low</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Risk_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MediumRisk1</name>
        <label>MediumRisk1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>riskCatagory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Risk_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MediumRisk2</name>
        <label>MediumRisk2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>riskCatagory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Risk_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MediumRisk3</name>
        <label>MediumRisk3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>riskCatagory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Risk_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Navigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Verification_Results</name>
        <label>Store Verification Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>aadhaarStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aadhaar_Verification_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>panStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAN_Verification_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nameMatchStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_Match_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Aadhar_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aadhaar_Verification_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.PAN_Verification_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAN_Verification_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Name_Match_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_Match_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aadhar_Assesment_Check</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Failed</name>
        <choiceText>Failed&amp;nbsp;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Passed</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Passed&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Passed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Aadhar_Assesment_Check</name>
        <label>Aadhar Assesment Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aadhar_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>aadhaarStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Passed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAN_Assessment_Check_1</targetReference>
            </connector>
            <label>Aadhar Verified</label>
        </rules>
        <rules>
            <name>Aadhar_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>aadhaarStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Failed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAN_Assessment_Check_2</targetReference>
            </connector>
            <label>Aadhar Declined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Assessment_Completion_Status</name>
        <label>Customer Assessment Completion Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Customer_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Assessment_Completed_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Generation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disbursement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disbursed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Customer_Assessment_Already_Completed</targetReference>
            </connector>
            <label>Customer Assessment Completed Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Upload_Completion_Check</name>
        <label>Document Upload Completion Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Customer_Assessment_Completion_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Document_Upload_Pending2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Upload_Pending</targetReference>
            </connector>
            <label>Document Upload Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Match_Assessment_Check_1</name>
        <label>Name Match Assessment Check 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Match_Successful1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nameMatchStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Passed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LowRisk</targetReference>
            </connector>
            <label>Name Match Successful1</label>
        </rules>
        <rules>
            <name>Name_Match_Failed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nameMatchStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Failed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MediumRisk1</targetReference>
            </connector>
            <label>Name Match Failed1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Match_Assessment_Check_2</name>
        <label>Name Match Assessment Check 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Match_Successful2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nameMatchStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Passed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MediumRisk2</targetReference>
            </connector>
            <label>Name Match Successful2</label>
        </rules>
        <rules>
            <name>Name_Match_Failed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nameMatchStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Failed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighRisk1</targetReference>
            </connector>
            <label>Name Match Failed2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Match_Assessment_Check_3</name>
        <label>Name Match Assessment Check 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Match_Successful3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nameMatchStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Passed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MediumRisk3</targetReference>
            </connector>
            <label>Name Match Successful3</label>
        </rules>
        <rules>
            <name>Name_Match_Failed3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nameMatchStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Failed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighRisk2</targetReference>
            </connector>
            <label>Name Match Failed3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Match_Assessment_Check_4</name>
        <label>Name Match Assessment Check 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Match_Successful4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nameMatchStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Passed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighRisk3</targetReference>
            </connector>
            <label>Name Match Successful4</label>
        </rules>
        <rules>
            <name>Name_Match_Failed4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nameMatchStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Failed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighRisk4</targetReference>
            </connector>
            <label>Name Match Failed4</label>
        </rules>
    </decisions>
    <decisions>
        <name>PAN_Assessment_Check_1</name>
        <label>PAN Assessment Check 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PAN_Verified1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>panStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Passed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_Match_Assessment_Check_1</targetReference>
            </connector>
            <label>PAN Verified1</label>
        </rules>
        <rules>
            <name>PAN_Declined1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>panStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Failed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_Match_Assessment_Check_2</targetReference>
            </connector>
            <label>PAN Declined1</label>
        </rules>
    </decisions>
    <decisions>
        <name>PAN_Assessment_Check_2</name>
        <label>PAN Assessment Check 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PAN_Verified2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>panStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Passed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_Match_Assessment_Check_3</targetReference>
            </connector>
            <label>PAN Verified2</label>
        </rules>
        <rules>
            <name>PAN_Declined2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>panStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Failed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_Match_Assessment_Check_4</targetReference>
            </connector>
            <label>PAN Declined2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Navigation</name>
        <label>Stage Navigation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Customer_Assessment_Already_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Customer_Assesment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Loan_Process_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>End Customer Assesment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Customer Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Upload_Completion_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Assessment_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aadhar_Verification_Status__c</field>
            <value>
                <elementReference>aadhaarStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Process_Stage__c</field>
            <value>
                <stringValue>Agreement Generation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_Match_Status__c</field>
            <value>
                <elementReference>nameMatchStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_Verification_Status__c</field>
            <value>
                <elementReference>panStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Category__c</field>
            <value>
                <elementReference>riskCatagory</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Customer_Assessment</name>
        <label>Customer Assessment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Verification_Results</targetReference>
        </connector>
        <fields>
            <name>Aadhaar_Verification_Status</name>
            <choiceReferences>Pending</choiceReferences>
            <choiceReferences>Passed</choiceReferences>
            <choiceReferences>Failed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Aadhaar Verification Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PAN_Verification_Status</name>
            <choiceReferences>Pending</choiceReferences>
            <choiceReferences>Passed</choiceReferences>
            <choiceReferences>Failed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PAN Verification Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Name_Match_Status</name>
            <choiceReferences>Pending</choiceReferences>
            <choiceReferences>Passed</choiceReferences>
            <choiceReferences>Failed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Name Match Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Assessment_Already_Completed</name>
        <label>Customer Assessment Already Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompletedCustomerAssessment</name>
            <fieldText>&lt;p&gt;Customer Assessment is already completed ! &lt;/p&gt;&lt;p&gt;Please proceed with next stages !&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Assessment_Completed</name>
        <label>Customer Assessment Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationHeader</name>
            <fieldText>&lt;p&gt;Customer Assessment Completed Successfully&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The customer assessment has been completed and the loan has moved to the next stage.&lt;/p&gt;&lt;p&gt;Below is a summary of the assessment results.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VerificationSummary</name>
            <fieldText>&lt;p&gt;Verification Summary&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Aadhaar Verification: {!aadhaarStatus}&lt;/p&gt;&lt;p&gt;PAN Verification: {!panStatus}&lt;/p&gt;&lt;p&gt;Name Match Status: {!nameMatchStatus}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RiskSummary</name>
            <fieldText>&lt;p&gt;Risk Assessment&lt;/p&gt;&lt;p&gt;Risk Category: {!riskCatagory}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Document_Upload_Pending</name>
        <label>Document Upload Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Assessment_Completion_Status</targetReference>
        </connector>
        <fields>
            <name>DocumentUploadPending</name>
            <fieldText>&lt;p&gt;Document Upload is pending! Please complete it before proceeding to the next stage.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen1</name>
        <label>ErrorScreen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Customer_Assessment</targetReference>
        </connector>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;Please complete all verification checks (Aadhaar, PAN, and Name Match)&lt;/p&gt;&lt;p&gt;before proceeding with customer assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen2</name>
        <label>ErrorScreen2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Customer_Assessment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_errorText</name>
            <fieldText>&lt;p&gt;Please complete all verification checks (Aadhaar, PAN, and Name Match)&lt;/p&gt;&lt;p&gt;before proceeding with customer assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen3</name>
        <label>ErrorScreen3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Customer_Assessment</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_errorText</name>
            <fieldText>&lt;p&gt;Please complete all verification checks (Aadhaar, PAN, and Name Match)&lt;/p&gt;&lt;p&gt;before proceeding with customer assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen4</name>
        <label>ErrorScreen4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Customer_Assessment</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_errorText</name>
            <fieldText>&lt;p&gt;Please complete all verification checks (Aadhaar, PAN, and Name Match)&lt;/p&gt;&lt;p&gt;before proceeding with customer assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen5</name>
        <label>ErrorScreen5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Customer_Assessment</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_errorText</name>
            <fieldText>&lt;p&gt;Please complete all verification checks (Aadhaar, PAN, and Name Match)&lt;/p&gt;&lt;p&gt;before proceeding with customer assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen6</name>
        <label>ErrorScreen6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Customer_Assessment</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_errorText</name>
            <fieldText>&lt;p&gt;Please complete all verification checks (Aadhaar, PAN, and Name Match)&lt;/p&gt;&lt;p&gt;before proceeding with customer assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen7</name>
        <label>ErrorScreen7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Customer_Assessment</targetReference>
        </connector>
        <fields>
            <name>Copy_6_of_errorText</name>
            <fieldText>&lt;p&gt;Please complete all verification checks (Aadhaar, PAN, and Name Match)&lt;/p&gt;&lt;p&gt;before proceeding with customer assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aadhaarStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nameMatchStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>panStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>riskCatagory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
