force-app/main/default/flows/Select_Loan_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Existing_Vehicle_Loan</name>
        <choiceIcon>
            <iconName>utility:undo</iconName>
        </choiceIcon>
        <choiceText>Existing Vehicle Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Vehicle Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Vehicle_Loan</name>
        <choiceIcon>
            <iconName>utility:add</iconName>
        </choiceIcon>
        <choiceText>New Vehicle Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Vehicle Loan</stringValue>
        </value>
    </choices>
    <constants>
        <name>DefaultCompanyName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ABC Bank Ltd</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Leads_by_Loan_Type</name>
        <label>Leads by Loan Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_New_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Vehicle_Loan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>New Vehicle Lead</label>
        </rules>
        <rules>
            <name>Copy_1_of_Existing_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing_Vehicle_Loan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_for_Existing_Vehicle_Loan</targetReference>
            </connector>
            <label>Existing Vehicle Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_by_Loan_Type</name>
        <label>Route by Loan Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Customer_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>New_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Vehicle_Loan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Vehicle_Loan_Vehicle_Details</targetReference>
            </connector>
            <label>New Vehicle</label>
        </rules>
        <rules>
            <name>Existing_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing_Vehicle_Loan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Vehicle_Loan_Vehicle_Details</targetReference>
            </connector>
            <label>Existing Vehicle</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Select Loan Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Loan Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ThankYouScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Aadhar_Number__c</field>
            <value>
                <elementReference>Aadhaar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FirstNameInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN__c</field>
            <value>
                <elementReference>PAN</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>DefaultCompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastNameInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Type__c</field>
            <value>
                <elementReference>LoanTypePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_MRP__c</field>
            <value>
                <elementReference>VehicleMRPInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Manufacturer__c</field>
            <value>
                <elementReference>VehicleManufacturerInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Model__c</field>
            <value>
                <elementReference>VehicleModelInput</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_for_Existing_Vehicle_Loan</name>
        <label>Create Lead for Existing Vehicle Loan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Loan_Type__c</field>
            <value>
                <elementReference>LoanTypePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RM_Approval_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_MRP__c</field>
            <value>
                <elementReference>EV_VehicleMRPInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Manufacturer__c</field>
            <value>
                <elementReference>EV_VehicleManufacturerInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Model__c</field>
            <value>
                <elementReference>EV_VehicleModelInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Number__c</field>
            <value>
                <elementReference>EV_VehicleNumberInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Owner__c</field>
            <value>
                <elementReference>EV_FetchedOwnerNameInput</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Customer_Information</name>
        <label>Customer Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Leads_by_Loan_Type</targetReference>
        </connector>
        <fields>
            <name>HeaderFlowScreenFour</name>
            <fieldText>&lt;p&gt;Customer Information&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the customer&apos;s basic details to proceed with the loan application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FirstNameInput</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LastNameInput</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MobileInput</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailInput</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CityInput</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Aadhaar_Number</name>
            <dataType>String</dataType>
            <fieldText>Aadhaar Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PAN</name>
            <dataType>String</dataType>
            <fieldText>PAN</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Customer Information&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Vehicle_Loan_Vehicle_Details</name>
        <label>Existing Vehicle Loan – Vehicle Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Information</targetReference>
        </connector>
        <fields>
            <name>HeaderFlowScreenThree</name>
            <fieldText>&lt;p&gt;Existing Vehicle Loan Details&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the details of the existing vehicle. Ownership details will be verified later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EV_VehicleManufacturerInput</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EV_VehicleModelInput</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Model</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EV_VehicleMRPInput</name>
            <dataType>Currency</dataType>
            <fieldText>Vehicle MRP</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EV_VehicleNumberInput</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EV_FetchedOwnerNameInput</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Owner Name (Fetched)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This name will be verified against the customer account during loan processing.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Vehicle_Loan_Vehicle_Details</name>
        <label>New Vehicle Loan – Vehicle Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Information</targetReference>
        </connector>
        <fields>
            <name>HeaderFlowScreenTwo</name>
            <fieldText>&lt;p&gt;New Vehicle Loan Details&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the vehicle details for the new vehicle loan application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VehicleManufacturerInput</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the vehicle manufacturer (e.g., Honda, Tata, Hyundai)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VehicleModelInput</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Model</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VehicleMRPInput</name>
            <dataType>Currency</dataType>
            <fieldText>Vehicle MRP</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Loan_Type</name>
        <label>Select Loan Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Route_by_Loan_Type</targetReference>
        </connector>
        <fields>
            <name>HeaderFlowScreenOne</name>
            <fieldText>&lt;p&gt;Welcome to the Vehicle Loan Journey&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This guided journey will help you capture vehicle loan details step by step.&lt;/p&gt;&lt;p&gt;Please select the type of loan to continue.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LoanTypePicklist</name>
            <choiceReferences>New_Vehicle_Loan</choiceReferences>
            <choiceReferences>Existing_Vehicle_Loan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loan Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankYouScreen</name>
        <label>ThankYouScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thank_you</name>
            <fieldText>&lt;p&gt;Thank You for Your Application&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your vehicle loan request has been successfully submitted.&lt;/p&gt;&lt;p&gt;Our Relationship Manager will review the details and contact you shortly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may now close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Loan_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Loan_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_Manufacturer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_Model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleMRP</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
